/*CSS Reset*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}
/*end of CSS Reset*/

/*collection of fonts*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('./assets/fonts/OpenSans-Light.ttf');
}
/*end of font collection*/

body {
  background-color: black;
}

header {
  height: 85vh;
  color: white;
  display: flex;
  align-items: center;
}

img{
  height: 45%;
  padding-left: 2%;
}

footer {
  height: 10vh;
  color: white;
}

#dropDownMenu {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

#dropDownMenu p {
  font-family: 'OpenSans-Light';
  padding: 10px;
}

footer {
  font-family: 'OpenSans-Light';
}

/*begin of article section*/
#articleSection {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.article {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.article h1{
  position: absolute;
}

.article img {
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1;
}
